certifi==2025.6.15
charset-normalizer==3.4.2
dnspython==2.7.0
Flask==3.0.3
Flask-Cors==4.0.1
idna==3.10
pandas==2.2.2
praw==7.8.1
prawcore==2.4.0
pymongo==4.13.2
python-dotenv==1.1.0
requests==2.32.4
transformers==4.41.2
torch>=2.0.0
update-checker==0.18.0
urllib3==2.5.0
websocket-client==1.8.0
